[Unit]
Description=Set battery charge limit
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c 'echo 80 > /sys/class/power_supply/macsmc-battery/charge_control_end_threshold'

[Install]
WantedBy=multi-user.target
